[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://gbi-ml-user:ml1234@nexus.boosted.ai:8081/repository/pypi-internal/simple"
verify_ssl = false
name = "gbi"

[dev-packages]
black = {version = "==24.4.2", index = "pypi"}
flake8 = {version = "==7.0.0", index = "pypi"}
invoke = {version = "==2.2.0", index = "pypi"}
isort = {version = "==5.13.2", index="pypi"}
mypy = {version = "==1.11.1", index="pypi"}
pytest = {version = "==8.3.3", index="pypi"}
pytest-xdist = {version = "==3.6.1", index="pypi"}

parameterized = {version = "==0.9.0", index="pypi"}
# Types
pandas-stubs = {version = "==2.0.3.230814", index = "pypi"}
types-protobuf = {version = "==5.26.0.20240422", index = "pypi"}
types-python-dateutil = {version = "==2.9.0.20240316", index = "pypi"}
backoff-stubs = {version = "==1.11.1.post1", index = "pypi"}

[packages]
fastapi = {version = "==0.111.0", index = "pypi"}
uvicorn = {version = "==0.28.1", index = "pypi"}
sse-starlette = {version = "==2.1.0", index = "pypi"}
pydantic = {version = "==2.8.2", index = "pypi"}
sentry-sdk = {extras = ["fastapi"], version =  "*", index = "pypi"}
pandas = {version = "==2.1.4", index = "pypi"}
openai = { version = "==0.27.10", index = "pypi"}
tiktoken = { version = "==0.7.0", index = "pypi"}
cryptography = {version = "==43.0.3", index = "pypi"}
PyJWT = {version = "==2.5.0", index = "pypi"}
dateparser = {version = "==1.2.0", index = "pypi"}
async-lru = {version = "==2.0.4", index = "pypi"}
pandoc = {version = "==2.4", index = "pypi"}
#TTL
async-cache = {version = "==1.1.1", index = "pypi"}
mdutils = {version = "==1.6.0", index = "pypi"}
sec-api = {version = "==1.0.22", index = "pypi"}
json-repair = {version = "==0.16.3", index = "pypi"}
scipy = {version = "==1.11.3", index = "pypi"}
devtools  = {version = "==0.12.2", index = "pypi"}
psycopg-pool  = {version = "~=3.2.0", index = "pypi"}
country_converter = {version = "*", index = "pypi"}
cron-descriptor = {version = "==1.4.3", index = "pypi"}
apscheduler = {version = "==3.10.4", index = "pypi", extras = ["sqlalchemy"]}
Levenshtein = {version = "==0.25.1", index = "pypi"}
# External services
gpt-service-proto-v1 = {version = "==1.4.0", index = "gbi"}
gbi-common-proto-v1 = {version = "==1.13.0", index = "gbi"}
proto-cube-flat-proto-v1 = {version = "==1.2.0", index = "gbi"}
gbi_common_py_utils = {version='==1.0.115', index="gbi"}
boosted-data-access-layer = {version='==0.0.0+c8975f441c8e3804afc822c9bb8a19224af9c15b', index="gbi"}
nlp_service_proto_v1 = {version = "==1.140.0", index = "gbi"}
stock-universe-service-proto-v1 = {version = "==0.50.0", index = "gbi"}
pa-portfolio-service-proto-v1 = {version = "==1.306.0", index = "gbi"}
discover_service_proto_v1 = {version = "==0.19.0", index = "gbi"}
feature-service-proto-v1 = {version = "==1.54.0", index = "gbi"}
user-service-proto-v1 = {version = "==1.57.0", index = "gbi"}
beautifulsoup4 = {version = "==4.12.3", index = "pypi"}
PyPDF2 = {version = "==3.0.1", index = "pypi"}
griffe= {version = "==0.48.0", index = "pypi"}
rapidfuzz = {version = "==3.9.7", index = "pypi"}
uvloop = {version = "==0.20.0", index = "pypi", markers = "sys_platform != 'win32'"}
aioboto3 = {version= "==13.1.1", index="pypi"}

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = false
install_search_all_sources = true
