[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://gbi-ml-user:ml1234@nexus.boosted.ai:8081/repository/pypi-internal/simple"
verify_ssl = false
name = "gbi"

[dev-packages]
black = {version = "==24.4.2", index = "pypi"}
flake8 = {version = "==7.0.0", index = "pypi"}
invoke = {version = "==2.2.0", index = "pypi"}
isort = {version = "==5.13.2", index="pypi"}
mypy = {version = "==1.10.0", index="pypi"}
unittest-parallel = {version = "==1.6.1", index="pypi"}
parameterized = {version = "==0.9.0", index="pypi"}

# Types
pandas-stubs = {version = "==2.0.3.230814", index = "pypi"}
types-protobuf = {version = "==5.26.0.20240422", index = "pypi"}
types-python-dateutil = {version = "==2.9.0.20240316", index = "pypi"}
backoff-stubs = {version = "==1.11.1.post1", index = "pypi"}

[packages]
fastapi = {version = "==0.111.0", index = "pypi"}
sse-starlette = {version = "==2.1.0", index = "pypi"}
pydantic = {version = "==2.7.1", index = "pypi"}
sentry-sdk = {extras = ["fastapi"], version =  "*", index = "pypi"}
prefect = {version = "==2.19.3", index = "pypi"}
pandas = {version = "==1.5.3", index = "pypi"}
gbi_common_py_utils = {version = "==1.0.113", index = "gbi"}
openai = { version = "==0.27.10", index = "pypi"}
tiktoken = { version = "==0.7.0", index = "pypi"}
PyJWT = {version = "==2.5.0", index = "pypi"}
boosted-data-access-layer = {version = "==0.0.286", index = "gbi"}
dateparser = {version = "==1.2.0", index = "pypi"}
async-lru = {version = "==2.0.4", index = "pypi"}
#TTL
async-cache = {version = "==1.1.1", index = "pypi"}
mdutils = {version = "==1.6.0", index = "pypi"}
sec-api = {version = "==1.0.16", index = "pypi"}
json-repair = {version = "==0.16.3", index = "pypi"}
scipy = {version = "==1.10.1", index = "pypi"}
devtools  = {version = "==0.12.2", index = "pypi"}
psycopg-pool  = {version = "~=3.2.0", index = "pypi"}
country_converter = {version = "*", index = "pypi"}
cron-descriptor = {version = "==1.4.3", index = "pypi"}
apscheduler = {version = "==3.10.4", index = "pypi", extras = ["sqlalchemy"]}
Levenshtein = {version = "==0.25.1", index = "pypi"}


# External services
gpt-service-proto-v1 = {version = "==1.4.0", index = "gbi"}
nlp_service_proto_v1 = {version = "==1.139.0", index = "gbi"}
stock-universe-service-proto-v1 = {version = "==0.43.0", index = "gbi"}
pa-portfolio-service-proto-v1 = {version = "==1.306.0", index = "gbi"}
discover_service_proto_v1 = {version = "==0.19.0", index = "gbi"}
feature-service-proto-v1 = {version = "==1.48.0", index = "gbi"}
user-service-proto-v1 = {version = "==1.55.0", index = "gbi"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
